<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div xmlns:th="http://www.thymeleaf.org" layout:decorate="front-layout-inner-customar-page">
    <div layout:fragment = "main_content">
        <section>
            <div class="container-fluid">
                <div class="row mb-2 pb-3 pt-3">
                    <div class="col-sm-6">
                        <h3>SMS</h3>
                    </div>
                    <div class="col-sm-6  justify-content-md-end gap-2 d-md-flex">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">SMS</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> Add SMS Plan</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="card-header">
                        <div class="row">  
                            <div class="col-sm-5 font-weight-bold ">
                                <h4> <i class="fas fa-list"></i> Add SMS Plan </h4>
                                <!--                                <span class="" th:text="${customerlist.size()}"></span> -->
                            </div>
                            <div class="col-sm-7  justify-content-md-end gap-2 d-md-flex"> 


                                <a class="btn btn-danger btn-sm" th:href="@{/plan/index}"> Close</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="card col-5 bg-light">


                                <form class=" mt-3" th:action="@{/plan/save}" th:object="${plan}" enctype="multipart/form-data" method="post">

                                    <span th:if="${ not #strings.isEmpty(message)}">
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            <span th:text="${message}" > </span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </span>
                                    <div class="form-group mb-3">
                                        <label for="inputPassword2" class=""> All fields marked with <span class="text-danger"> *</span> are required and must be filled.  </label>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" class="form-control"  th:field="*{id}" />
                                    </div>

                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputPassword2" class="">Name<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" th:field="*{name}"  id="inputPassword2" placeholder="Name" required="true">

                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Book Name</span>
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputPassword2" class="">Description<span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" th:field="*{description}"  id="inputPassword2" placeholder="Description">

                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Book Name</span>
                                    </div>

                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputPassword2" class="">Duration<span class="text-danger"> *</span></label>
                                        <input type="number"  min="1" class="form-control" th:field="*{duration}"  id="inputPassword2" placeholder="Duration" required="true">

                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Book Name</span>
                                    </div>

                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputPassword2" class="">Amount<span class="text-danger"> *</span></label>
                                        <input type="number"  min="1" class="form-control" th:field="*{amount}"  id="inputPassword2" placeholder="Amount" required="true">

                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Book Name</span>
                                    </div>

                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="exampleInputEmail1">Status<span class="text-danger"> *</span></label>
                                        <select id="inputState" class="form-control col-sm-3"  th:field="*{status}">
                                            <option value=" "> Select one</option>              
                                            <option th:each =" planStatuss : ${planStatus}"
                                                    th:value="${planStatuss} " 
                                                    th:text="${planStatuss}"> Select one</option>
                                        </select>
                                        <span  class="help-block has-error text-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Book Name</span>
                                    </div>





                                    <div class="d-grid gap-2 col-3 mx-auto mb-3 mt-3">
                                        <button type="submit" class="btn btn-success mb-2 btn-sm">Submit</button>

                                    </div>

                                </form>
                            </div>
                        </div>






                    </div><!--  Card body end-->


                </div><!--  Card  end-->


            </div><!--  Main Content  end-->
        </div>   <!--  Layout end-->

    </div><!--  Main Content  end-->
</div>   <!--  Layout end-->