<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="heb7DbEV8OfK4Hk0PVraKZ2WTOSS4um_zW9s_9lH2mI" />

        <meta name="description" content="Oxford Model Test: First Online University Admission, BCS and Jobs Model Test Bangladesh">
        <meta name="keywords" content="Job Model Test, NTRCA Model Test, BJS Preliminary Model Test, Advocate ship Preliminary Model Test ,BCS Exam MCQ Model Test,None BCS MCQ Model Test,Bank Job Exam MCQ ,Primary Teacher Recruitment Exam ,Public University Admission Test, Private University Admission Test , Science Technology University Admission Test ,Medical Admission Test,SSC Exam MCQ, HSC Exam MCQ ,Others Exam MCQ,  IBA  ,Cadet Colleges Admission ,School Admission Test ,Public Engineering Universities Admission ,Agricultural University Admission Test,">
        <meta name="author" content="Engr.Md Belayet Hossain Sumon">

        <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}"/>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <!--  Font Awsome  -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!-- wol carousel -->
        <link rel="stylesheet" th:href="@{/plugin/owlcarousel/assets/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/plugin/owlcarousel/assets/owl.theme.green.min.css}">

        <!--        Hover css-->
        <link rel="stylesheet" th:href="@{/css/hover-min.css}">
        <!-- Custom css -->
        <link rel="stylesheet" th:href="@{/css/app.css}"/> 

        <link rel="stylesheet" th:href="@{/css/mobile_apps.css}"/> 



        <title> SMS Getaway</title>

    </head>
    <body>
        <header>
            <!-- Site wrapper -->
            <div th:replace="front-header">

                <!-- Header  -->

            </div>
            <!-- =============================================== -->
        </header>
        <section class="mt-4 mb-4 row"> 
            <div class="col-sm-3">

                <div   th:replace="customer-left-menu">
                    Left side column. contains the sidebar 

                    Left Side 
                    =============================================== 
                </div>



            </div>  

            <div class="col-sm-9">

                <!-- main -->
                <div layout:fragment="main_content">main Content</div>


            </div>
        </section>






        <div class="row ma"></div>
        <!-- /.content-wrapper -->
        <footer>

            <div  th:replace="front-footer">
                footer
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>

        <!-- Bootstrap -->
        <script th:src="@{/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js}"></script>

        <!--owlcarousel-->

        <!-- Form Validation -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

        <script th:src="@{/plugin/owlcarousel/owl.carousel.min.js}"></script>

        <script th:src="@{/webjars/tinymce/5.0.9/tinymce.min.js}" referrerpolicy="origin"></script>

        <!--        All Custom Js-->
        <script th:src="@{/js/app.js}"></script>

    </body>
</html>
